<div class="col-md-4 col-md-offset-4">
  <div class="alert alert-danger" *ngIf = "errorMsg?.length > 0">
    <strong>{{errorMsg}}</strong>
  </div>
  <div class="form-group">
    <label for="emailId">Email:</label>
    <input type="email" class="form-control" id="emailId" [(ngModel)] = "forgotPasswordData.emailId">
  </div>
  <div class="form-group">
    <label for="dateOfBirth">Date of Birth:</label>
    <input type="date" class="form-control" id="dateOfBirth" [(ngModel)] = "forgotPasswordData.dateOfBirth">
  </div>
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="username" class="form-control" id="username" [(ngModel)] = "forgotPasswordData.username">
  </div>
  <div class="form-group">
    <label for="password">New Password:</label>
    <input type="password" class="form-control" id="password" [(ngModel)] = "forgotPasswordData.password">
  </div>
  <button type="button" class="btn btn-primary" (click) = "forgotPasswordAction()" style="width: 145px; float: right; height: 45px;">Change Password</button>
</div>